.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
}
.card{
    width: 20%;
    margin: 10px;
    padding: 20px;
    background-color: rgb(78, 78, 79);
    border-radius: 12px;
    color: white;
}
.cardCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btn button
{
    margin: 10px;
    padding: 8px 16px;
    background-color: rgb(212, 77, 23);
    border: none;
    color: white;
    border-radius: 8px;
}