*
{
    margin: 0;
    padding: 0;

}
h1{
    text-align: center;
  position: relative;
  top: 35vh;
  left: -30%;
}
#card{
    width: 40%;
    margin: 15px;
    padding: 60px;
    border-radius: 4px;
    margin-left: 40%;
    margin-top: 1vh;
}
#card img{
    border-radius: 10px;
}
button{
    padding: 10px 30px;
    background-color: rgb(9, 9, 82);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    position: relative;
    top: 38vh;
    left: 12%;
    cursor: pointer;
}