body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainDiv{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.card{
  height: 45vh;
  width: 23%;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 12px;
}
.card:hover{
  background-color: black;
  color: white;
  transition: 0.2s;
}
.card img{
  border-radius: 12px;
}
.card img:hover{
  scale: 1.1;
  transition: 0.5s ease-in;
}
